body 
{
background-color:black;
color:white;
font-family:arial}
h1
{
    color:grey;
    font-family:verdana;
}
.maindiv
{
    background-color:white;
    color:black;
    width:500px; /*  300 was not long enough */
    padding:20px;
    margin: auto;
    align-content:center;
    border-radius:25px;
}
.yellow
{
    background-color:yellow;
}


