body 
{
background-color:black;
color:white;
font-family:arial}
h1
{
    color:grey;
    font-family:verdana;
}
.maindiv
{
    background-color:white;
    color:black;
    width:300px;
    padding:20px;
    align-content:center;
    border-radius:25px;
}


